.sidebar {
  background-image: linear-gradient(to right, var(--primary-color), var(--hover-color));
  min-height: 100vh; /* Full height */
}

.flex-column {
  padding: 20px; /* Adjust padding as needed */
}

/* Styles for the nav links */
.nav-link {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: flex-start; /* Align items to the left */
  text-align: left; /* Ensure the text is aligned to the left */
  color: var(--secondary-color);
  text-decoration: none;
  margin-bottom: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
  font-size: 1.2em;
}

.nav-link:hover {
  color: var(--secondary-hover-color);
  text-decoration: none;
  transform: scale(1.05);
}

/* Increase the size of the icon for better visual hierarchy */
.nav-icon {
  font-size: 24px; /* Adjust the size as needed */
  margin-bottom: 5px; /* Space between icon and text */
}


.logo-img {
  max-width: 100%; /* Ensures logo does not exceed the width of its container */
  height: auto; /* Keeps the aspect ratio of the logo */
  margin-bottom: 24px;
  margin-top: 24px;
}

.exit-link {
  margin-top: 200px;
  color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  padding: 4px 8px; /* Reduced padding for a tighter fit */
  font-size: 0.8em; 
  display: inline-flex; /* Use inline-flex if you need flexbox alignment properties */
  align-items: center; /* Vertically center the content if using flexbox */
  justify-content: center; /* Horizontally center the content if using flexbox */
  text-align: center; /* Ensure text is centered */
}


.exit-link:hover {
  transform: scale(1.05); /* Apply scale transform for zoom effect */
  color: var(--primary-color);
  background-color: var(--secondary-hover-color);
}

.github-link {
  margin-top: 5px;
  font-size: 0.8em;
}

/* Media query for iPad screens in landscape orientation (1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

  .sidebar {
    min-height: auto;
    padding: 20px 0; /* More padding might be appropriate for larger screens */
  }

  .flex-column {
    padding: 20px; /* Adjust padding for larger screens */
    margin-right: 20px;
  }
  
  .nav-link {
    margin-bottom: 10px; /* Adjust margin bottom back or increase slightly for larger screens */
    font-size: 1em;
  }

  .nav-icon {
    display: none;
  }
  
  .logo-img {
    width: 300px; /* Adjust logo width for larger screens if needed */
    margin-bottom: 24px; /* Adjust margin bottom for larger screens */
    margin-top: 24px; /* Adjust margin top for larger screens */
  }
  
  .exit-link {
    margin-top: 10px; /* Adjusted for larger screens */
    font-size: 0.95em; /* Slightly larger font size */
    padding: 12px 20px; /* Adjust padding to suit larger screens */
  }
}


@media (max-width: 576px) {

  .sidebar {
    min-height: auto;
    padding: 10px 0;
  }

  .flex-column {
    padding: 15px; /* Adjust padding for medium-sized screens */
  }
  
  .nav-link {
    margin-bottom: 8px; /* Adjust margin bottom for medium-sized screens */
    font-size: 1em;
  }
  
  .nav-icon {
    display: none;
  }
  
  .logo-img {
    width: 200px; /* Adjust logo width for medium-sized screens */
    margin-bottom: 20px; /* Adjust margin bottom for medium-sized screens */
    margin-top: 20px; /* Adjust margin top for medium-sized screens */
  }
  
  .exit-link {
    margin-top: 5px; /* Adjusted for small screens */
    font-size: 0.75em; /* Further adjusted font size for smaller screens */
    padding: 8px 8px; /* Even smaller padding for small screens */
  }
}